<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Good reads score:</strong>
    <%= book.good_reads_score %>
  </p>

  <p>
    <strong>Good reads url:</strong>
    <%= book.good_reads_url %>
  </p>

  <p>
    <strong>Good reads description:</strong>
    <%= book.good_reads_description %>
  </p>

  <p>
    <strong>Cover url:</strong>
    <%= book.cover_url %>
  </p>

  <p>
    <strong>Publish date:</strong>
    <%= book.publish_date %>
  </p>

</div>
